*{
   margin: 0;
   padding: 0;
   font-family:  Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
     background-color: rgba(0, 0, 0, 0.872);
}
.container{
       width:300px;
    padding-bottom: 0px;
    padding-top: 0px;
   
    
}

.card{
    background-color: white;
    padding-top: 1px;
    padding-bottom: 0px;
}

.hero{
   color: white;

}
.herocontent{
  padding: 30px;
  margin-left: 1px;
  padding-top: 15px;
  padding-bottom: 30px;
  
}

.cut-box{
  background:rgb(169, 48, 48);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 83%,
    87% 100%,
    0 100%
  );
}
.hero h1{
    font-size: 25px;
}
.hero h2{
    font-size: 12px;
    color: rgb(0, 0, 0);
}
.hero p{
    color: rgb(255, 255, 255);
    font-weight:500;
    line-height: 1.7;
    margin-top: 10px;
    margin-bottom: 0px;
     text-align: justify;
}
 
.herologo img{
    width: 50px;
   
}
.clubmain-headindg{ 
display: flex;
gap:5px;
align-items: flex-end;
}
 
.clubmain-headindg img{
 width: 13px;
 height: 13px;
 align-self: center;

}
span{
    color: brown;
    font-weight: bold;
    font-size: 5px;
}
h1{
    font-size:17px;
   
}
p{
    font-size: 5px;
    font-weight: bold;
    margin-bottom: 25px;
}
.main{
    background-color: white;
    margin: auto;
    padding: 30px;
    padding-top: 10;
    padding-bottom: 0px;
}
.club{
display: flex;
justify-content: space-between;
margin-bottom: 8px;
margin-top: 5px;

}
.clublogo{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.clublogo img{
    width: 32px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.content{
    background-color: white;
}
.footercontent{
  font-size: 9px;
  color: white;
}
.cut-box1{
  background:rgb(169, 48, 48);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 70%,
    88% 100%,
    0 100%
  );
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
     margin-left: 1px;
     padding: 30px;
}
