*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header1{
background-color:#8c1d1a;
padding:100px 120px;
clip-path:polygon(0 0,100% 0,100% 80%,87% 100%,0 100%);
}

.header1 img{
width:70px;
}

.header1 h1{
color:white;
font-size:5rem;
font-weight:800;
margin-top:20px;
margin-bottom: 0px;
}

.header1 h2{
font-size:2.3rem;
font-weight:800;
margin-top: -15px;
}

.header1 p{
color:white;
font-size:1.2rem;
margin-top:25px;
line-height:1.6;
text-align:justify;
width: 98%;
}

.icon_awards img{
    align-self: flex-start;
    transform: scale(0.7);
}
.icon_awards{
    display: flex;
    align-items: center;
   
}
.container{
padding:0 120px;
display:flex;
flex-direction:column;
align-items:center;
}

.rankings{
width:100%;
padding:80px 0;
}

header{
font-size:3.5rem;
-webkit-text-stroke:3px black;
margin-bottom:40px;
}

header::before{
content:url(Assets/icon_awards.png);
padding-right:20px;
}

.clubs{
display:flex;
justify-content:space-between;
text-align:center;
gap:20px;
margin-bottom: -20px;
}

.clubs img{
padding:10px 0;
width: 150px;
}

p{
font-size:1.2rem;
font-weight:700;
color:#8c1d1a;
}

span{
font-size:1.3rem;
font-weight:600;
color:black;
}

.footer{
background:#8c1d1a;
padding:100px 120px;
clip-path:polygon(0 0,100% 0,100% 45%,86% 100%,0 100%);
}

h3{
font-size:3rem;
color:white;
-webkit-text-stroke:2px white;
}

@media(max-width:1400px){

.header{
padding:80px 80px;
}

.container{
padding:0 80px;
}

h1{
font-size:4rem;
}

h2{
font-size:2.2rem;
}

header{
font-size:2.8rem;
}

.footer{
padding:80px;
}

h3{
font-size:2.5rem;
}

}
